.content {
  padding: 0 50px 20px;

  .input_gap_left {
    padding-right: 10px;
  }
  .input_gap_right {
    padding-left: 10px;
  }

  .button_wrapper {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;

    .btn {
      margin: 0;
    }
  }
}
