.job_list {

  .pagination {
    background: #9e9e9e;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    button {
      background: transparent;
      border: none;
      margin: 0 3px;
    }
  }

  .row {
    display: flex;
    border: unset !important;
    transition: background 0.2s ease-in-out;
    padding: 2px 10px;
    padding-right: 15px;

    .job_title {
      cursor: pointer;
      font-weight: 600;
      text-transform: capitalize;

    }

    .open {
      color: #22C932;
    }

    .close {
      color: #F82B60;
    }

    &:nth-child(even) {
      background: #fff;
    }

    input {
      border: unset;
      background-color: unset;
    }

    &:hover {
      background: #1BCBFF;

      .cell {
        .cell_actions {
          // z-index: 1;
          // visibility: visible;
          // opacity: 1;
        }
      }
    }

    &.row_head {
      .cell {
        border: none;
        border-right: none;
        color: #0091FF !important;
        font-family: 'SF Pro Display Regular';
        font-weight: 600;

        &:last-child {
          border-right: none;
        }
      }
    }

    .cell {
      width: 16%;
      padding: 5px;
      border: none;
      border-right: none;
      border-top: none;
      position: relative;

      &.text_overflow {
        text-overflow: ellipsis;

        white-space: nowrap;
        overflow: hidden;
      }

      &.text_center {
        text-align: center;
      }

      &:last-child {
        border-right: none;
      }

      &_size_2 {
        width: 20%;
      }

      .cell_actions {
        // position: absolute;
        // right: 0;
        // top: 0;
        // bottom: 0;
        display: flex;
        align-items: center;
        // background: #fff1d1;
        // visibility: hidden;
        // z-index: -1;
        opacity: 1;
        transition: opacity 0.2s ease-in;

        .action {
          cursor: pointer;
          padding: 2px 5px;
          margin-left: 5px;
          border: 1px solid #cfd3d5;

          &.red {
            color: #f82b60;
          }

          &.orange {
            color: #ff9b38;
          }

          &.blue {
            color: #38a3ff;
          }

          &.black {
            color: #000;
          }

          &.disable {
            color: #cfd3d5;
          }

          span {
            display: inline-block;
            margin-left: 3px;
          }
        }
      }
    }
  }
}