@import "../../../assets/styles/mixins/responsive";

.container {
  position: relative;
  display: flex;
  align-self: stretch;
  flex: 1;
  height: calc(100vh - 110px);
  overflow: hidden;
@include mobile{
  overflow: scroll;
}
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f7f8f8;
    z-index: -1;
  }

  &>div {
    // margin-top: 25px;
  }

  .board {
    flex: 0.8;
    // background: #fff;
    // border-top-left-radius: 15px;
    // border-top-right-radius: 15px;

    &_content {
      display: flex;
      // background: #000;
      height: 100%;

      .left_side,
      .content {
        height: calc(100vh - 65px - 25px - 100px);
      }

      .left_side {
        flex: 0.25;
        border-right: 1px solid rgba(#000, 0.15);

        /* search section */
        .search {
          height: 50px;
          display: flex;
          align-items: center;
          position: relative;

          .selected_all {
            background: #9538ff;
            position: absolute;
            display: flex;
            align-items: center;
            padding: 0 15px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            animation-name: moveToBotttom;
            animation-duration: 0.5s;

            @keyframes moveToBotttom {
              from {
                transform: translateY(-100%);
                opacity: 0;
              }

              to {
                transform: translateY(0);
                opacity: 1;
              }
            }

            &>button {
              border: none;
              color: #fff;
              background: transparent;
              cursor: pointer;
              font-size: 15px;
            }
          }

          .search_wrapper {
            margin: 0 10px;
            height: 30px;
            border-radius: 30px;
            overflow: hidden;
            width: 100%;
            display: flex;
            align-items: center;

            input {
              border: none;
              outline: none;
              flex: 1;
              padding: 0 15px;
              padding-left: 55px;
              height: 100%;
              background-color: #f7f8f8;
            }

            .saerch_btn {
              outline: none;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              border: none;
              color: #8b8b8b;
              font-size: 11px;
              margin: 0 3px;
              cursor: pointer;
              position: absolute;
              background-color: #f7f8f8;
            }
          }
        }

        /* filter section */
        .filter_sort {
          display: flex;
          justify-content: space-around;
          margin-bottom: 10px;

          span {
            cursor: pointer;
            background-color: #fff;
            padding: 5px 10px;
            border-radius: 25px;

            svg {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  // .routes {
  //   margin-top: 20px;
  //   @media (max-width: 768px) {
  //     text-align: center;
  //   }
  // }
  .create_account {
    background: #0091ff;
    border: none;
    outline: none;
    color: #fff;
    height: 40px;
    padding: 0 50px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    transition: 0.1s ease-in;
  
    &:hover {
      background: lighten($color: #0091ff, $amount: 8%);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .arrow {
    margin-right: 8px;
  }
  .showOpportunity {
    background-color: #fff;
    color: #0091ff;
    border: none;
    outline: none;
    height: 40px;
    padding: 0 50px;
    border-radius: 25px;
    border: 1px solid #0091ff;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    transition: 0.1s ease-in;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    @media (min-width: 1200px) {
      margin-right: 21px;
    }
  }
}