@import "../../../assets/styles/mixins/responsive";

.jobsListPage {
  background-color: #f4f6f7;

  /* company info and welcome user */
  .company_wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -25px auto 20px auto;

    @include tablet {
      margin: 28px auto 20px auto;
  }
  
        @include mobile {
          margin: 28px auto 20px auto;
        }


  }

  .company_logo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      max-height: 100%;

      &.noavatar {
        width: 50%;
        margin: auto;
        display: block;
      }
    }
      @include tablet {
  margin-top: 235px;
  }

  @include mobile {
    margin-top: 235px;

  }
  }

  .company_name {
    margin-top: -20px;
    color: #3e3e3e;
    font-size: 14px;
    display: flex;
    align-items: center;

    img {
      width: 17px;
      margin-right: 10px;
    }
  }


  /* pagination */
  ul {
    text-align: center;
    padding: 30px 0;
    color: #0091FF;

    svg {
      font-size: 15px;
    }

    button,
    li {
      border: unset;
      background-color: unset;
      color: #0091FF;
      font-weight: 700;

      a,
      button {
        color: #0091FF;
        border: unset !important;
        background-color: unset !important;

      }
    }
  }

  /* dashboard Footer */
  .dashboard_footer {
    background-color: #000;
    color: #fff;
    padding: 10px 7%;
    display: flex;

    svg {
      margin-right: 5px;
    }

    .right {
      margin-left: auto;

      .phone {
        margin-left: 15px;
      }
    }

    .left {
      .youtube {
        svg {
          color: #EA3323;
          font-size: 27px;
        }

        span {
          line-height: 27px;
          vertical-align: top;
        }
      }
    }

  }
}

.container {
  width: 85%;
  margin: 40px auto 0 auto;

  .head {
    display: flex;
    margin-bottom: 20px;

    &>div {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .add_post_btn {
      background: #0091ff;
      border-color: #0091ff;
      padding: 0 80px;
      transition: 0.2s ease-in-out;
      height: 40px;
      margin: 0;

      &:hover {
        background: rgba(#0091ff, 0.9);
      }

      @include tablet {
        padding: 0 300px;
      }

      @include mobile {
        padding: 0 30px;
      }  
    }

    .search {
      display: flex;
      justify-content: flex-end;
      @include tablet {
        justify-content: flex-start;
        margin-left: 12px;
      }

      @include mobile {
        justify-content: flex-start;
        margin-left: 12px;

      }  
      $container-height: 40px;

      .search_container {
        // border: 1px solid #dadada;
        border-radius: $container-height / 2;
        height: $container-height;
        width: 60%;
        display: flex;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        box-shadow: 2px 2px 14px #0000001a;
        overflow: hidden;

        input {
          flex: 1;
          border: none;
          font-size: 18px;
          padding: 0 8px;
          outline: none;
          line-height: $container-height;
        }

        button {
          background: #0091FF;
          border: none;
          outline: none;
          color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background 0.1s ease-in;

          &:hover {
            background: lighten($color: #323232, $amount: 10%);
          }
        }
      }
    }


  }
}
