@import './common/colors';

body {
  font-family: 'SF Pro Display Regular';
  font-size: 14px;
}

/* ===== AntDesign Input ===== */
.ant-select-item-option-selected {
  background: $blue !important;
  color: #fff !important;
}

.ant-select-dropdown {
  padding: 0;
}

// checkbox
[class*='ant-checkbox-checked'] > [class*='ant-checkbox-inner'] {
  background-color: $blue;
  border-color: $blue;
}

[class*='ant-checkbox-input']:focus + [class*='ant-checkbox-inner'] {
  border-color: $blue;
}

// radio
[class*='ant-radio-checked'] > [class*='ant-radio-inner'] {
  border-color: $blue;
  &::after {
    background-color: $blue;
  }
}

[class*='ant-radio-input']:focus + [class*='ant-radio-inner'] {
  border-color: $blue;
  box-shadow: 0 0 0 3px rgba(2, 174, 174, 0.08);
}

// Switch
.ant-switch-checked {
  background: $blue;
}

/* ===== AntDesign Input ===== */

/* ===== Loading spinner ===== */
.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .loading {
    display: inline-block;
    width: 35px;
    height: 35px;

    &.small {
      width: 25px;
      height: 25px;
    }

    &.medium {
      width: 30px;
      width: 30px;
    }

    &.large {
      width: 40px;
      width: 40px;
      border: 4px solid #fff;
    }

    &:after {
      content: ' ';
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
/* ===== Loading spinner ===== */
