.container {
  margin: 10px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: end;

  .icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;

    img {
      height: 100%;
      width: auto;
    }
  }
}
